%blockquote{:id => @id}
  %em=content
  - if (attr? :attribution) or (attr? :citetitle)
    %footer
      - if attr? :attribution
        = preceed "— " do
          =(attr :attribution)
      - if attr? :citetitle
        %cite=(attr :citetitle)
