%table{:id => @id, :width => (attr :tablewidth)}
  - if title?
    %caption=captioned_title
  - unless (attr :rowcount).zero?
    %colgroup
      - @columns.each do |col|
        %col{:width => "#{col.attr :colpcwidth}%"}
    - [:head, :foot, :body].select {|tblsec| !@rows[tblsec].empty? }.each do |tblsec|
      - haml_tag "t#{tblsec}" do
        - @rows[tblsec].each do |row|
          %tr
            - row.each do |cell|
              -# store reference of content in advance to resolve attribute 
              -# assignments in cells
              - if tblsec == :head
                - cell_content = cell.text
              - else
                - case cell.style
                - when :verse, :literal
                  - cell_content = cell.text
                - else
                  - cell_content = cell.content
              - bg = @document.attr :cellbgcolor, nil
              - tag = tblsec == :head || cell.style == :header ? 'th' : 'td'
              - cs = cell.colspan
              - rs = cell.rowspan
              - haml_tag tag, :<, :colspan => cs, :rowspan => rs, :background => bg do
                - if tblsec == :head
                  =cell_content
                - else
                  - case cell.style
                  - when :asciidoc
                    =cell_content
                  - when :verse
                    ~cell_content
                  - when :literal
                    %pre=cell_content
                  - else
                    - cell_content.each do |text|
                      %p<=text
