- if attr? :link
  %a{:href => (attr :link)}
    %figure
      %img{:src => uri_from_image(attr :target), :alt => (attr :alt), 
        :width => (attr :width), :height => (attr :height)}
- else
  %figure
    %img{:src => uri_from_image(attr :target), :alt => (attr :alt), 
      :width => (attr :width), :height => (attr :height)}
