- require 'asciimath'
- require 'mathematical'
- require 'escape_utils'
- case @style.to_sym
- when :asciimath
  - amath = EscapeUtils.unescape_html(content)
  - tex = "$$#{AsciiMath.parse(amath).to_latex}$$"
- when :latexmath
  - tex = "$$#{EscapeUtils.unescape_html(content)}$$"

- svg = Mathematical.new.render(tex)
- if svg[:data] and not svg[:exception]
  %figure.equation
    =(svg[:data])
