!!! 5
%html{:lang=>(attr :lang, 'en')}
  %head
    %meta(charset="#{attr :encoding, 'UTF-8'}")
    :css
      img, object, svg {
        vertical-align: middle;
      }

      figure.equation {
        display: flex;
        width: 100%;
      }

      figure.equation > svg {
        margin: 0 auto;
      }

    - unless (docinfo_content = docinfo).empty?
      =docinfo_content
  %body
    %h1=title
    =content

