%span<
  - if attr? :link
    %a{:href => (attr :link), :target => (attr :window)}
      %img{:src=>src, :alt=>(attr :alt), :width=>(attr :width), 
        :height=>(attr :height), :title=>(attr :title)}
  - else
    %img{:src=>src, :alt=>(attr :alt), :width=>(attr :width), 
      :height=>(attr :height), :title=>(attr :title)}
