- case @type
- when :xref
  - refid = (attr :refid) || @target
  - t = @text
  - t ||= @document.references[:ids].fetch(refid, "[#{refid}]")
  %a(href="#{@target}"){:target => (atrr :window)}=t.tr_s("\n", ' ')
- when :ref
  %a(id=@target){:target => (attr :window)}
- when :bibref
  %a(id=@target){:target => (attr :window)}
    %sup
      = surround "[", "]" do
        =@target
- else
  %a(href=@target){:id=>@id, :target=>(attr :window), :title=>(attr :title)}
    =@text
