- require 'asciimath'
- require 'mathematical'
- require 'escape_utils'
- case @type
- when :emphasis
  %em=@text
- when :strong
  %strong=@text
- when :monospaced
  %code{:class => "inline"}=@text
- when :superscript
  %sup=@text
- when :subscript
  %sub=@text
- when :mark
  %mark=@text
- when :double
  = surround '“', '”' do
    =@text
- when :single
  = surround '‘', '’' do
    =@text
- when :asciimath, :latexmath
  - if @type == :asciimath
    - amath = EscapeUtils.unescape_html(@text)
    - tex = "$#{AsciiMath.parse(amath).to_latex}$"
  - else
    - tex = "$#{EscapeUtils.unescape_html(@text)}$"
  
  - svg = Mathematical.new.render(tex)
  - if svg[:data] and not svg[:exception]
    =(svg[:data])
- else
  =@text
